*, *:before, *:after {
  box-sizing: border-box;
}

html, body, div, span, object, iframe, figure, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, code, em, img, small, strike, strong, sub, sup, tt, b, u, i, ol, ul, li, fieldset, form, label, table, caption, tbody, tfoot, thead, tr, th, td, main, canvas, embed, footer, header, nav, section, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: none;
     -moz-text-size-adjust: none;
          text-size-adjust: none;
}

footer, header, nav, section, main {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input {
  -webkit-appearance: none;
  border-radius: 0;
}

body {
  font-family: "Raleway", sans-serif;
  font-size: 16px;
}

.open {
  width: 100%;
  height: 100vh;
  padding: 0 15px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
@media screen and (min-width: 1352px) {
  .open {
    max-width: 1352px;
  }
}
.open header {
  width: 100%;
  box-shadow: 0 3px 6px #00000029;
}
.open .head-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}
.open .logo {
  font-weight: 300;
  font-size: 2em;
  color: #08A6E4;
  padding: 19px;
}
.open nav {
  padding: 19px;
}
@media screen and (min-width: 992px) {
  .open nav {
    padding: 0;
  }
}
.open .menu {
  display: none;
  transition: max-height 0.5s ease-out;
}
@media screen and (min-width: 992px) {
  .open .menu {
    display: flex;
  }
  .open .menu a {
    text-decoration: none;
    font-family: "Open Sans", sans-serif;
    font-weight: 700;
    font-size: 0.7em;
    color: #A5A5A5;
    text-transform: uppercase;
    padding: 27px 5px;
    margin: 0 40px;
    border-bottom: 4px solid transparent;
  }
  .open .menu a:hover {
    color: #000000;
    border-bottom: 4px solid #08A6E4;
  }
}
.open .menu-icon {
  cursor: pointer;
  padding: 19px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  opacity: 0.4;
}
@media screen and (min-width: 992px) {
  .open .menu-icon {
    display: none;
  }
}
.open .menu-icon .navicon {
  background: #08A6E4;
  display: block;
  height: 2px;
  position: relative;
  transition: background 0.2s ease-out;
  width: 18px;
}
.open .menu-icon .navicon:before,
.open .menu-icon .navicon:after {
  background: #08A6E4;
  content: "";
  display: block;
  height: 100%;
  position: absolute;
  transition: all 0.2s ease-out;
  width: 100%;
}
.open .menu-icon .navicon:before {
  top: 6px;
}
.open .menu-icon .navicon:after {
  top: -6px;
}
.open .menu-btn {
  display: none;
}
.open .menu-btn:checked ~ .menu {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: flex-start;
  background: white;
  position: absolute;
  top: 80px;
  left: 0;
  padding: 19px;
  box-shadow: 0 3px 6px #00000029;
}
.open .menu-btn:checked ~ .menu a {
  display: block;
  text-decoration: none;
  padding: 10px 0;
  color: #A5A5A5;
  font-size: 0.7rem;
  font-weight: 700;
  font-family: "Open Sans", sans-serif;
  text-transform: uppercase;
  letter-spacing: 0.2em;
}
.open .menu-btn:checked ~ .menu a:hover {
  color: #000000;
}
.open .menu-btn:checked ~ .menu-icon .navicon {
  background: transparent;
}
.open .menu-btn:checked ~ .menu-icon .navicon:before {
  transform: rotate(-45deg);
}
.open .menu-btn:checked ~ .menu-icon .navicon:after {
  transform: rotate(45deg);
}
.open .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
.open .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
  top: 0;
}
.open__title {
  font-size: 3em;
  margin-top: 130px;
}
.open__text {
  font-family: var(--font-open-sans);
  font-size: 1em;
  padding: 20px 30px;
  text-align: center;
}
@media screen and (min-width: 768px) {
  .open__text {
    padding: 20px 0;
  }
}
.open__button {
  text-decoration: none;
  text-align: center;
  color: #FFFFFF;
  background: #08A6E4;
  font-weight: 700;
  padding: 22px 0;
  min-width: 300px;
  max-width: 430px;
  border-radius: 60px;
  margin-top: 20px;
}
@media screen and (min-width: 768px) {
  .open__button {
    min-width: 430px;
  }
}
.open__image {
  width: 200%;
  overflow: hidden;
}
@media screen and (min-width: 768px) {
  .open__image {
    width: 150%;
  }
}
@media screen and (min-width: 992px) {
  .open__image {
    width: 100%;
  }
}

.stats {
  text-align: center;
}
.stats__title {
  font-size: 2em;
  margin-top: 100px;
  padding: 0 30px;
}
@media screen and (min-width: 768px) {
  .stats__title {
    padding: 0;
  }
}
.stats .stats__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
@media screen and (min-width: 768px) {
  .stats .stats__container {
    flex-direction: row;
  }
}
.stats .stats__column {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 30px;
}
@media screen and (min-width: 768px) {
  .stats .stats__column {
    margin: 60px;
  }
}
@media screen and (min-width: 992px) {
  .stats .stats__column {
    margin: 100px;
  }
}
.stats .circle {
  width: 63px;
  height: 63px;
  border-radius: 50%;
  position: relative;
}
.stats .red {
  background: #FB3B64;
}
.stats .blue {
  background: #08A6E4;
}
.stats .green {
  background: #55DFB4;
}
.stats .stats__img {
  position: absolute;
  left: 30px;
  top: 3px;
}
.stats .stats__eye {
  position: absolute;
  left: 23px;
  top: 13px;
}
.stats .stats__value {
  font-size: 1.3em;
  font-weight: 800;
  letter-spacing: 5px;
  padding: 18px;
}
.stats .stats__description {
  font-size: 1em;
  color: var(--color-grey);
}

.benefits {
  width: 100%;
  background: #F7F7F7;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
}

.benefits__container {
  max-width: 1100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  margin: 20px 30px;
  padding: 30px;
  background: #FFFFFF;
}
@media screen and (min-width: 992px) {
  .benefits__container {
    width: 1100px;
    height: 370px;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    position: relative;
    margin-bottom: 40px;
  }
}
.benefits__container .benefits__image-1, .benefits__container .benefits__image-2 {
  position: relative;
  flex-grow: 1;
}
.benefits__container .benefits__image-1 .macbook {
  max-height: 220px;
  padding: 20px;
  position: relative;
  z-index: 1;
}
@media screen and (min-width: 992px) {
  .benefits__container .benefits__image-1 .macbook {
    height: 220px;
    position: absolute;
    z-index: 1;
    top: -60px;
    right: 120px;
  }
}
.benefits__container .benefits__image-1 .rectangle {
  width: 150px;
  height: 150px;
  border-radius: 50px;
  transform: rotate(45deg);
  position: absolute;
  z-index: 0;
  top: -10px;
  right: 20px;
  background: #FB3B64;
}
@media screen and (min-width: 992px) {
  .benefits__container .benefits__image-1 .rectangle {
    width: 200px;
    height: 200px;
    border-radius: 50px;
    transform: rotate(45deg);
    position: absolute;
    z-index: 0;
    top: -120px;
    right: 100px;
    background: #FB3B64;
  }
}
.benefits__container .benefits__image-2 .iphone {
  max-height: 330px;
  position: relative;
  z-index: 1;
}
@media screen and (min-width: 992px) {
  .benefits__container .benefits__image-2 .iphone {
    max-height: 330px;
    position: absolute;
    top: -150px;
    left: 20px;
    z-index: 1;
  }
}
.benefits__container .benefits__image-2 .circle-big {
  width: 320px;
  height: 320px;
  border-radius: 50%;
  position: absolute;
  left: 0px;
  top: -20px;
  background: #08A6E4;
}
@media screen and (min-width: 992px) {
  .benefits__container .benefits__image-2 .circle-big {
    position: absolute;
    left: 20px;
    top: -160px;
  }
}
.benefits__container .benefits__image-3 {
  background: #55DFB4;
  width: 100%;
  height: 100%;
}
@media screen and (min-width: 992px) {
  .benefits__container .benefits__image-3 {
    width: 440px;
    height: 370px;
    margin-left: 60px;
    position: relative;
  }
}
.benefits__container .benefits__image-3 .trumpet {
  height: 210px;
  position: absolute;
  left: 60px;
  top: 100px;
}
@media screen and (min-width: 992px) {
  .benefits__container .benefits__info-1, .benefits__container .benefits__info-2, .benefits__container .benefits__info-3 {
    width: 420px;
    padding: 0 35px;
    position: relative;
  }
}
@media screen and (min-width: 992px) {
  .benefits__container .benefits__info-1:before, .benefits__container .benefits__info-2:before, .benefits__container .benefits__info-3:before {
    content: "";
    width: 330px;
    position: absolute;
    bottom: 0;
  }
}
.benefits__container .benefits__info-3 {
  background: #FFFFFF;
  flex-grow: 1;
  height: 370px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.benefits__container .benefits__info-1:before {
  border: 2px solid #FB3B64;
}
.benefits__container .benefits__info-2:before {
  border: 2px solid #08A6E4;
}
.benefits__container .benefits__info-3:before {
  border: 2px solid #55DFB4;
}

.benefits__title {
  font-size: 2em;
}

.benefits__text {
  font-size: 1em;
  padding: 30px 0 50px 0;
}

.benefit-2 {
  display: flex;
  justify-content: flex-end;
}
@media screen and (min-width: 992px) {
  .benefit-2 {
    flex-direction: row;
  }
}

.benefit-3 {
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-grow: 1;
  background: none;
  padding: 0;
}

footer {
  height: 90px;
  display: flex;
  justify-content: center;
  box-shadow: 0px -5px 40px var(--color-grey-shadow);
}
footer .logo__footer {
  font-weight: 300;
  font-size: 1.6em;
  color: var(--color-blue);
}
/*# sourceMappingURL=main.css.map */
