*, *:before, *:after {
  box-sizing: border-box;
}

html, body, div, span, object, iframe, figure, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, code, em, img, small, strike, strong, sub, sup, tt, b, u, i, ol, ul, li, fieldset, form, label, table, caption, tbody, tfoot, thead, tr, th, td, main, canvas, embed, footer, header, nav, section, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: none;
     -moz-text-size-adjust: none;
          text-size-adjust: none;
}

footer, header, nav, section, main {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input {
  -webkit-appearance: none;
  border-radius: 0;
}

body {
  font-family: "Raleway", sans-serif;
  font-size: 16px;
}

.open {
  width: 100%;
  height: 100vh;
  padding: 0 15px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media screen and (min-width: 1352px) {
  .open {
    max-width: 1352px;
  }
}
.open header {
  width: 100%;
  box-shadow: 0 3px 6px #00000029;
}
.open .head-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}
.open .logo {
  font-weight: 300;
  font-size: 2em;
  color: #08A6E4;
  padding: 19px;
}
.open nav {
  padding: 19px;
}
@media screen and (min-width: 992px) {
  .open nav {
    padding: 0;
  }
}
.open .menu {
  display: none;
  transition: max-height 0.5s ease-out;
}
@media screen and (min-width: 992px) {
  .open .menu {
    display: flex;
  }
  .open .menu a {
    text-decoration: none;
    font-family: "Open Sans", sans-serif;
    font-weight: 700;
    font-size: 0.7em;
    color: #A5A5A5;
    text-transform: uppercase;
    padding: 27px 5px;
    margin: 0 40px;
    border-bottom: 4px solid transparent;
  }
  .open .menu a:hover {
    color: #000000;
    border-bottom: 4px solid #08A6E4;
  }
}
.open .menu-icon {
  cursor: pointer;
  padding: 19px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  opacity: 0.4;
}
@media screen and (min-width: 992px) {
  .open .menu-icon {
    display: none;
  }
}
.open .menu-icon .navicon {
  background: #08A6E4;
  display: block;
  height: 2px;
  position: relative;
  transition: background 0.2s ease-out;
  width: 18px;
}
.open .menu-icon .navicon:before,
.open .menu-icon .navicon:after {
  background: #08A6E4;
  content: "";
  display: block;
  height: 100%;
  position: absolute;
  transition: all 0.2s ease-out;
  width: 100%;
}
.open .menu-icon .navicon:before {
  top: 6px;
}
.open .menu-icon .navicon:after {
  top: -6px;
}
.open .menu-btn {
  display: none;
}
.open .menu-btn:checked ~ .menu {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: flex-start;
  background: white;
  position: absolute;
  top: 80px;
  left: 0;
  padding: 19px;
  box-shadow: 0 3px 6px #00000029;
}
.open .menu-btn:checked ~ .menu a {
  display: block;
  text-decoration: none;
  padding: 10px 0;
  color: #A5A5A5;
  font-size: 0.7rem;
  font-weight: 700;
  font-family: "Open Sans", sans-serif;
  text-transform: uppercase;
  letter-spacing: 0.2em;
}
.open .menu-btn:checked ~ .menu a:hover {
  color: #000000;
}
.open .menu-btn:checked ~ .menu-icon .navicon {
  background: transparent;
}
.open .menu-btn:checked ~ .menu-icon .navicon:before {
  transform: rotate(-45deg);
}
.open .menu-btn:checked ~ .menu-icon .navicon:after {
  transform: rotate(45deg);
}
.open .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
.open .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
  top: 0;
}
.open__title {
  font-size: 3em;
  margin-top: 130px;
}
.open__text {
  font-family: var(--font-open-sans);
  font-size: 1em;
  padding: 20px 30px;
  text-align: center;
}
@media screen and (min-width: 768px) {
  .open__text {
    padding: 20px 0;
  }
}
.open__button {
  text-decoration: none;
  text-align: center;
  color: #FFFFFF;
  background: #08A6E4;
  font-weight: 700;
  padding: 22px 0;
  min-width: 300px;
  max-width: 430px;
  border-radius: 60px;
  margin-top: 20px;
}
@media screen and (min-width: 768px) {
  .open__button {
    min-width: 430px;
  }
}
.open__image {
  width: 100%;
}

footer {
  height: 90px;
  display: flex;
  justify-content: center;
  box-shadow: 0px -5px 40px var(--color-grey-shadow);
}
footer .logo__footer {
  font-weight: 300;
  font-size: 1.6em;
  color: var(--color-blue);
}
/*# sourceMappingURL=main.css.map */
