$color-text: #000000;
$color-text-buttons: #FFFFFF;
$color-text-accent: #A5A5A5;
$color-main: #08A6E4;
$color-main-shadow: #07ACE629;
$color-secondary: #FB3B64;
$color-secondary-shadow: #F9043629;
$color-third: #55DFB4;

$color-dark-grey: #13253B;
$color-grey-shadow: #00000029;
$color-light-grey: #F7F7F7;