.open {
  width: 100%;
  height: 100vh;
  padding: 0 15px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  @include large {
    max-width: 1352px;
  }

header {
  width: 100%;
  box-shadow: 0 3px 6px $color-grey-shadow;
}

.head-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.logo {
  font-weight: 300;
  font-size: 2em;
  color: $color-main;
  padding: 19px;
}

nav {
  padding: 19px;
  @include desktop {
    padding: 0;
  }
}

.menu {
  display: none;
  transition: max-height .5s ease-out;

  @include desktop {
    display: flex;
    & a {
      text-decoration: none;
      font-family: $font-open-sans;
      font-weight: 700;
      font-size: 0.7em;
      color: $color-text-accent;
      text-transform: uppercase;
      padding: 27px 5px;
      margin: 0 40px;
      border-bottom: 4px solid transparent;

    &:hover {
      color: $color-text;
      border-bottom: 4px solid $color-main;
    }
    }
  }
}



.menu-icon {
  cursor: pointer;
  padding: 19px;
  user-select: none;
  opacity: 0.4;

  @include desktop {
    display: none;
  }
}

.menu-icon .navicon {
  background: $color-main;
  display: block;
  height: 2px;
  position: relative;
  transition: background .2s ease-out;
  width: 18px;
}

.menu-icon .navicon:before,
.menu-icon .navicon:after {
  background: $color-main;
  content: '';
  display: block;
  height: 100%;
  position: absolute;
  transition: all .2s ease-out;
  width: 100%;
}

.menu-icon .navicon:before {
  top: 6px;
}

.menu-icon .navicon:after {
  top: -6px;
}

.menu-btn {
  display: none;
}


.menu-btn:checked ~ .menu {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: flex-start;
  background: white;
  position: absolute;
  top: 80px;
  left: 0;
  padding: 19px;
  box-shadow: 0 3px 6px $color-grey-shadow;

  & a {
    display: block;
    text-decoration: none;
    padding: 10px 0;
    color: $color-text-accent;
    font-size: 0.7rem;
    font-weight: 700;
    font-family: $font-open-sans;
    text-transform: uppercase;
    letter-spacing: .2em;

    &:hover {
      color: $color-text;
    }
  }
}

.menu-btn:checked ~ .menu-icon .navicon {
  background: transparent;
}

.menu-btn:checked ~ .menu-icon .navicon:before {
  transform: rotate(-45deg);
}

.menu-btn:checked ~ .menu-icon .navicon:after {
  transform: rotate(45deg);
}

.menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
.menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
  top: 0;
}




&__title {
  font-size: 3em;
  margin-top: 130px;
}
&__text {
  font-family: var(--font-open-sans);
  font-size: 1em;
  padding: 20px 30px;
  text-align: center;
  @include tablet {
    padding: 20px 0;
  }
}
&__button {
  text-decoration: none;
  text-align: center;
  color: $color-text-buttons;
  background: $color-main;
  font-weight: 700;
  padding: 22px 0;
  min-width: 300px;
  max-width: 430px;
  border-radius: 60px;
  margin-top: 20px;
  @include tablet {
    min-width: 430px;
  }
}
&__image {
  width: 100%;
}

}
